body {
    /*background-image: linear-gradient(to right, rgba(255, 255, 255, 0), black, rgba(255, 255, 255, 0)), url("5960.jpg");*/
    background-repeat: repeat;
    width: 100%;
    overflow-x: hidden;
}

@font-face {
    font-family: 'RoundsBlack';
    src: url('rounds-black/Rounds\ Black.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PlayfairDisplay';
    src: url('playfair-display/PlayfairDisplay-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

h1 {
    text-shadow: 5px 5px white;
    text-decoration: underline;
    font-size: 80px;
    font-weight: bolder;
    font-family: 'RoundsBlack';
}

p, h2, h3, strong, i, label, select, button {
    font-family: 'PlayfairDisplay';
}

.column {
    margin: auto;
    width: 60%;
    height: 100%;
}

.main {
    text-align: center;
    backdrop-filter: saturate(500000%) blur(10px);
    border-radius: 20px;
    border: 5px solid white;
    mix-blend-mode: difference;
    background-color: gray;
    color: red;
    width: 100%;
}

.content {
    background-color: black;
}

.content p {
    mix-blend-mode: hue;
    color: white !important;
}

.set-list-container {
    background-color: black;
    padding: 64px;
}

/*menu for set list*/
label {
    color: white;
}

/*will, max, and general text*/
.set-list-container p, h3 {
    color: white;
}

/*song author*/
.set-list-container strong {
    color: white;
    font-weight: bold;
}

/*song title*/
.set-list-container i {
    color: white;
}

/*set list date*/
.set-list-container h2 {
    color: red;
    text-shadow: 1px 1px white;
    font-weight: bolder;
    text-decoration: underline;
}

.set-date {
    width: 100%;
    padding: 0;
    margin: 0;
}

.set-date-column {
    flex: 50%;
    height: 100%;
}

.set-date > div {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}